## Preprocessing

In [45]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [46]:
application_df.shape

(34299, 12)

In [47]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [48]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'])
application_df.shape

(34299, 11)

In [49]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [50]:
# Look at APPLICATION_TYPE value counts for binning
bin1 = application_df['APPLICATION_TYPE'].value_counts()
bin1

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [51]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(bin1[bin1<100].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [52]:
# Look at CLASSIFICATION value counts for binning
bin2 = application_df['CLASSIFICATION'].value_counts()
bin2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2600        1
C4200        1
C3700        1
C1370        1
C1248        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [53]:
# You may find it helpful to look at CLASSIFICATION value counts >1
bin2_1 = bin2[bin2>1]
print(bin2_1.shape)
print('=======================================================')
print(bin2_1)

(45,)
=======================================================
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1267        2
C1256        2
C1246        2
C1234        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [54]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(bin2[bin2<10].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
Name: CLASSIFICATION, dtype: int64

In [55]:
bin3 = application_df.NAME.value_counts()

In [56]:
names_to_replace = list(bin3[bin3<40].index)

In [57]:
len(names_to_replace)

19504

In [58]:

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                    23982
PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
                                                                         ...
POP WARNER LITTLE SCHOLARS INC                                              42
VETERANS OF FOREIGN WARS OF THE U S AUXILIARY DEPARTMENT OF LOUISIANA       41
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUX DEPT OF COLORADO          41
UNITED MINE WORKERS OF AMERICA INTERNATIONAL                                41
MODERN QUILT GUILD INC                                                      40
Name: NAME, Length: 65, dtype: int64

In [59]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [60]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

# Drop the "Is Successful" column from X
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [61]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [62]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=300
hidden_nodes_layer2=300
hidden_nodes_layer3=300

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 300)               40200
_________________________________________________________________
dense_9 (Dense)              (None, 300)               90300
_________________________________________________________________
dense_10 (Dense)             (None, 300)               90300
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 301
=================================================================
Total params: 221,101
Trainable params: 221,101
Non-trainable params: 0
_________________________________________________________________

In [63]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [64]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpointsV4-1/", exist_ok=True)
checkpoint_path = "checkpointsV4-1/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(filepath=checkpoint_path, save_weights_only = True, period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [65]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

Epoch 1/100
25724/25724 [==============================] - 6s 235us/sample - loss: 0.4946 - acc: 0.7568
Epoch 2/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.4753 - acc: 0.7657
Epoch 3/100
25724/25724 [==============================] - 5s 189us/sample - loss: 0.4708 - acc: 0.7688
Epoch 4/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.4699 - acc: 0.7697
Epoch 5/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.4687 - acc: 0.7700
Epoch 6/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.4660 - acc: 0.7725
Epoch 7/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.4654 - acc: 0.7715
Epoch 8/100
25724/25724 [==============================] - 4s 168us/sample - loss: 0.4642 - acc: 0.7732
Epoch 9/100
25724/25724 [==============================] - 5s 191us/sample - loss: 0.4631 - acc: 0.7739
Epoch 10/100
25724/25724 [==============================] - 5s 196us/sample - loss: 0.4615 - acc: 0.7743
Epoch 11/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.4606 - acc: 0.7754
Epoch 12/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.4606 - acc: 0.7741s - loss: 0.460
Epoch 13/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.4593 - acc: 0.7746
Epoch 14/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.4594 - acc: 0.7764
Epoch 15/100
25724/25724 [==============================] - 4s 145us/sample - loss: 0.4577 - acc: 0.7761
Epoch 16/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.4570 - acc: 0.7765
Epoch 17/100
25724/25724 [==============================] - 4s 145us/sample - loss: 0.4561 - acc: 0.7765
Epoch 18/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.4562 - acc: 0.7778
Epoch 19/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.4547 - acc: 0.7785
Epoch 20/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4540 - acc: 0.7794
Epoch 21/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.4538 - acc: 0.7783
Epoch 22/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4536 - acc: 0.7779
Epoch 23/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4521 - acc: 0.7792
Epoch 24/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4524 - acc: 0.7793
Epoch 25/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4522 - acc: 0.7794
Epoch 26/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.4511 - acc: 0.7792
Epoch 27/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4511 - acc: 0.7795
Epoch 28/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4514 - acc: 0.7790
Epoch 29/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4515 - acc: 0.7795
Epoch 30/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4485 - acc: 0.7802
Epoch 31/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.4490 - acc: 0.7806
Epoch 32/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.4489 - acc: 0.7795
Epoch 33/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4488 - acc: 0.7804
Epoch 34/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4484 - acc: 0.7813
Epoch 35/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.4478 - acc: 0.7802
Epoch 36/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4475 - acc: 0.7813
Epoch 37/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4473 - acc: 0.78060s - loss: 0.4466 - acc:
Epoch 38/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4474 - acc: 0.7807
Epoch 39/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.4467 - acc: 0.7815
Epoch 40/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4462 - acc: 0.7813
Epoch 41/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4463 - acc: 0.7814
Epoch 42/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.4462 - acc: 0.7811
Epoch 43/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.4488 - acc: 0.7820
Epoch 44/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4466 - acc: 0.7823
Epoch 45/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4454 - acc: 0.7825
Epoch 46/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.4447 - acc: 0.7822
Epoch 47/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4464 - acc: 0.7821
Epoch 48/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.4448 - acc: 0.7826
Epoch 49/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4454 - acc: 0.7826
Epoch 50/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4472 - acc: 0.7823
Epoch 51/100
25724/25724 [==============================] - 3s 97us/sample - loss: 0.4442 - acc: 0.7819
Epoch 52/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4438 - acc: 0.7818
Epoch 53/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4441 - acc: 0.7820
Epoch 54/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4441 - acc: 0.7820
Epoch 55/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4522 - acc: 0.7825
Epoch 56/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.4450 - acc: 0.7827
Epoch 57/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4430 - acc: 0.7825
Epoch 58/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4442 - acc: 0.78260s - loss: 0.4445 - acc: 0.
Epoch 59/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4425 - acc: 0.7829
Epoch 60/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.4447 - acc: 0.7827
Epoch 61/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.4443 - acc: 0.7830
Epoch 62/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4438 - acc: 0.7831
Epoch 63/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4428 - acc: 0.7827
Epoch 64/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4433 - acc: 0.7830
Epoch 65/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.4439 - acc: 0.78281s - l
Epoch 66/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4431 - acc: 0.7825
Epoch 67/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4429 - acc: 0.7827
Epoch 68/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4442 - acc: 0.7821
Epoch 69/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4428 - acc: 0.7827
Epoch 70/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.4426 - acc: 0.7825
Epoch 71/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.4423 - acc: 0.7827
Epoch 72/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4424 - acc: 0.7828
Epoch 73/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4426 - acc: 0.7831
Epoch 74/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4438 - acc: 0.7821
Epoch 75/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4436 - acc: 0.7819
Epoch 76/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.4425 - acc: 0.7829
Epoch 77/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4426 - acc: 0.7821
Epoch 78/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.4526 - acc: 0.7834
Epoch 79/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.4444 - acc: 0.7823
Epoch 80/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.4420 - acc: 0.7820
Epoch 81/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.4414 - acc: 0.7829
Epoch 82/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.4414 - acc: 0.7834
Epoch 83/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4414 - acc: 0.7833
Epoch 84/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4424 - acc: 0.7827
Epoch 85/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4434 - acc: 0.7829
Epoch 86/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4537 - acc: 0.7815
Epoch 87/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4418 - acc: 0.7831
Epoch 88/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4416 - acc: 0.7834
Epoch 89/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4419 - acc: 0.7837
Epoch 90/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4419 - acc: 0.7833
Epoch 91/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.4418 - acc: 0.7837
Epoch 92/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4421 - acc: 0.7835
Epoch 93/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4415 - acc: 0.7835
Epoch 94/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4456 - acc: 0.7824
Epoch 95/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4429 - acc: 0.78320s - loss: 0.4419 - acc:
Epoch 96/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.4419 - acc: 0.7832
Epoch 97/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4411 - acc: 0.7834
Epoch 98/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4428 - acc: 0.7830
Epoch 99/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4425 - acc: 0.7829
Epoch 100/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4424 - acc: 0.7820

In [66]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5845 - acc: 0.7626
Loss: 0.5844869260989543, Accuracy: 0.7625656127929688

In [67]:
# # Export our model to HDF5 file
nn.save('Output/Model_V4-1.h5')