## Preprocessing

In [48]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [49]:
application_df.shape

(34299, 12)

In [50]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [51]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'])
application_df.shape

(34299, 11)

In [52]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [53]:
# Look at APPLICATION_TYPE value counts for binning
bin1 = application_df['APPLICATION_TYPE'].value_counts()
bin1

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(bin1[bin1<100].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [55]:
# Look at CLASSIFICATION value counts for binning
bin2 = application_df['CLASSIFICATION'].value_counts()
bin2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C6100        1
C1245        1
C2150        1
C2190        1
C1370        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [56]:
# You may find it helpful to look at CLASSIFICATION value counts >1
bin2_1 = bin2[bin2>1]
print(bin2_1.shape)
print('=======================================================')
print(bin2_1)

(45,)
=======================================================
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1600        5
C1257        5
C0           3
C2710        3
C1260        3
C3200        2
C1256        2
C1234        2
C1267        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [57]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(bin2[bin2<10].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
Name: CLASSIFICATION, dtype: int64

In [58]:
bin3 = application_df.NAME.value_counts()

In [59]:
names_to_replace = list(bin3[bin3<40].index)

In [60]:
len(names_to_replace)

19504

In [61]:

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                    23982
PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
                                                                         ...
DEPARTMENT OF OREGON LADIES AUXILIARY TO THE VFW OF THE U S                 42
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUX DEPT OF COLORADO          41
VETERANS OF FOREIGN WARS OF THE U S AUXILIARY DEPARTMENT OF LOUISIANA       41
UNITED MINE WORKERS OF AMERICA INTERNATIONAL                                41
MODERN QUILT GUILD INC                                                      40
Name: NAME, Length: 65, dtype: int64

In [62]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [63]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

# Drop the "Is Successful" column from X
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [64]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [65]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=12
hidden_nodes_layer2=6
hidden_nodes_layer3=3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 12)                1608
_________________________________________________________________
dense_13 (Dense)             (None, 6)                 78
_________________________________________________________________
dense_14 (Dense)             (None, 3)                 21
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 4
=================================================================
Total params: 1,711
Trainable params: 1,711
Non-trainable params: 0
_________________________________________________________________

In [66]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [67]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpointsV4/", exist_ok=True)
checkpoint_path = "checkpointsV4/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(filepath=checkpoint_path, save_weights_only = True, period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [68]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

Epoch 1/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.6200 - acc: 0.7137
Epoch 2/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5403 - acc: 0.7613
Epoch 3/100
25724/25724 [==============================] - 1s 40us/sample - loss: 0.5142 - acc: 0.76600s - loss: 0.5185 - acc
Epoch 4/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5001 - acc: 0.76650s - loss: 0.5020 - acc: 0.
Epoch 5/100
25724/25724 [==============================] - 1s 40us/sample - loss: 0.4922 - acc: 0.7667
Epoch 6/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4865 - acc: 0.76790s - loss: 0.4859 - acc: 0.7
Epoch 7/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4832 - acc: 0.76851s - loss
Epoch 8/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4805 - acc: 0.76850s - loss: 0.4804 - acc: 0.7
Epoch 9/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4776 - acc: 0.7690
Epoch 10/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4756 - acc: 0.7703
Epoch 11/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.4746 - acc: 0.7694
Epoch 12/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4732 - acc: 0.7712
Epoch 13/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4718 - acc: 0.7715
Epoch 14/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4714 - acc: 0.7697
Epoch 15/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.4707 - acc: 0.77150s - loss:
Epoch 16/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.4695 - acc: 0.7711
Epoch 17/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4696 - acc: 0.7699
Epoch 18/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4682 - acc: 0.77270s - loss: 0.45
Epoch 19/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4678 - acc: 0.77240s - loss: 0.
Epoch 20/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4671 - acc: 0.77170s - loss: 0.4672 - acc: 0. - ETA: 0s - loss: 0.4669 - acc: 0
Epoch 21/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4668 - acc: 0.77290s - loss: 0.4
Epoch 22/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4672 - acc: 0.77180s - loss: 0.4662  - ETA: 0s - loss: 0.4675 - acc: 0.771
Epoch 23/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4661 - acc: 0.77340s - loss: 0.44
Epoch 24/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.4664 - acc: 0.7727
Epoch 25/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4655 - acc: 0.77160s - loss: 0.4580 -
Epoch 26/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4655 - acc: 0.7711
Epoch 27/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4656 - acc: 0.77360s - loss: 0.4711 -
Epoch 28/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4644 - acc: 0.7734
Epoch 29/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4642 - acc: 0.7724
Epoch 30/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4647 - acc: 0.77220s - loss: 0.4643 - acc: 0. - ETA: 0s - loss: 0.4671 - ac
Epoch 31/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.4644 - acc: 0.7733
Epoch 32/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4641 - acc: 0.7726
Epoch 33/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.4638 - acc: 0.77260s - loss: 0.4612 -
Epoch 34/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4633 - acc: 0.7719
Epoch 35/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4629 - acc: 0.77300s - loss: 0.4623 - acc: 0.
Epoch 36/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4628 - acc: 0.7738
Epoch 37/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4630 - acc: 0.7730- ETA: 0s - loss: 0.4657 - a - ETA: 0s - loss: 0.4656 - acc: 0 - 1s 48us/sample - loss: 0.4633 - acc: 0.7727
Epoch 38/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4627 - acc: 0.77390s - loss: 0.4613 -
Epoch 39/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4632 - acc: 0.7734
Epoch 40/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4625 - acc: 0.77410s - loss: 0.4651 - acc: 0
Epoch 41/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.4626 - acc: 0.77340s - loss: 0.4598 - a
Epoch 42/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4619 - acc: 0.7743
Epoch 43/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.4618 - acc: 0.7739
Epoch 44/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4618 - acc: 0.7721
Epoch 45/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4622 - acc: 0.77270s - loss: 0.4575 - acc: 0.775 - ETA: 0s - loss: 0.4581 - acc: 0.774 - ETA: 0s - loss: 0.4600
Epoch 46/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4617 - acc: 0.77360s - loss: 0.4602 - ac
Epoch 47/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4620 - acc: 0.7739
Epoch 48/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4620 - acc: 0.7748
Epoch 49/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4614 - acc: 0.7737
Epoch 50/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4611 - acc: 0.7745
Epoch 51/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4613 - acc: 0.77510s - loss: 0
Epoch 52/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4609 - acc: 0.7743
Epoch 53/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4611 - acc: 0.77340s - loss: 0.4654 - ac
Epoch 54/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4609 - acc: 0.7734
Epoch 55/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4608 - acc: 0.77471s - loss: 0
Epoch 56/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4608 - acc: 0.77510s - loss: 0.4565 -
Epoch 57/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4603 - acc: 0.7757
Epoch 58/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4608 - acc: 0.77480s - loss: 0.4614 - acc: 0.
Epoch 59/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4604 - acc: 0.77491s - loss:
Epoch 60/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4605 - acc: 0.77540s - loss: 0.4556 - acc: 0. - ETA: 0s - loss: 0.4561 - acc: 0.7 - ETA: 0s - loss: 0.4594 - acc: 0. - ETA: 0s - loss: 0.4594 - acc:
Epoch 61/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4601 - acc: 0.77510s - loss: 0.46
Epoch 62/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4602 - acc: 0.77400s - loss: 0.4568 - acc
Epoch 63/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4601 - acc: 0.77510s - loss: 0.4608 -
Epoch 64/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4601 - acc: 0.7747
Epoch 65/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4601 - acc: 0.7764
Epoch 66/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.4599 - acc: 0.7747
Epoch 67/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4603 - acc: 0.77470s - loss: 0.4654 - acc: 0.7 - ETA: 0s - loss: 0.4628 - acc: 0. - ETA: 0s - loss: 0.4616 - acc: 0.7
Epoch 68/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.4603 - acc: 0.7753
Epoch 69/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.4598 - acc: 0.7753
Epoch 70/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.4598 - acc: 0.7758
Epoch 71/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.4597 - acc: 0.7750
Epoch 72/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.4597 - acc: 0.7753
Epoch 73/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.4596 - acc: 0.7755
Epoch 74/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.4596 - acc: 0.7752
Epoch 75/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.4593 - acc: 0.7757
Epoch 76/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4593 - acc: 0.7758
Epoch 77/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.4598 - acc: 0.7753
Epoch 78/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4591 - acc: 0.77560s - loss: 0.4612
Epoch 79/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.4589 - acc: 0.7754
Epoch 80/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4592 - acc: 0.7767
Epoch 81/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4593 - acc: 0.7760
Epoch 82/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4593 - acc: 0.7765
Epoch 83/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.4593 - acc: 0.77490s - loss: 0.4605 - acc: 0.77 - ETA: 0s - loss: 0.4597 - acc: 0
Epoch 84/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4589 - acc: 0.7772
Epoch 85/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.4587 - acc: 0.7762
Epoch 86/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.4591 - acc: 0.7762
Epoch 87/100
25724/25724 [==============================] - 1s 40us/sample - loss: 0.4591 - acc: 0.7752
Epoch 88/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4587 - acc: 0.7769
Epoch 89/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4589 - acc: 0.77720s - loss: 0.4573 - acc: 0. - ETA: 0s - loss: 0.4597 - acc: 0.7
Epoch 90/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4586 - acc: 0.77490s - loss: 0.4600 - acc
Epoch 91/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4587 - acc: 0.7768
Epoch 92/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4587 - acc: 0.77630s - loss: 0.4586 - acc: 0.
Epoch 93/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4590 - acc: 0.77660s - loss: 0.4593 - acc: 0.776 - ETA: 0s - loss: 0.4594 - acc: 0.776
Epoch 94/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4588 - acc: 0.77620s - loss: 0.4578 - acc: 0
Epoch 95/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4581 - acc: 0.77500s - loss: 0.4
Epoch 96/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4587 - acc: 0.77600s - loss: 0.4575 - acc
Epoch 97/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4583 - acc: 0.7758
Epoch 98/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4579 - acc: 0.7775
Epoch 99/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.4586 - acc: 0.7777
Epoch 100/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4583 - acc: 0.77640s - loss: 0.4535 - ac

In [69]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.4879 - acc: 0.7613
Loss: 0.48785740271949213, Accuracy: 0.7612828016281128

In [70]:
# # Export our model to HDF5 file
nn.save('Output/Model_V4.h5')