## Preprocessing

In [47]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [48]:
application_df.shape

(34299, 12)

In [49]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [50]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'])
application_df.shape

(34299, 11)

In [51]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [52]:
# Look at APPLICATION_TYPE value counts for binning
bin1 = application_df['APPLICATION_TYPE'].value_counts()
bin1

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [53]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(bin1[bin1<100].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# Look at CLASSIFICATION value counts for binning
bin2 = application_df['CLASSIFICATION'].value_counts()
bin2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1820        1
C1732        1
C2190        1
C1245        1
C5200        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [55]:
# You may find it helpful to look at CLASSIFICATION value counts >1
bin2_1 = bin2[bin2>1]
print(bin2_1.shape)
print('=======================================================')
print(bin2_1)

(45,)
=======================================================
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C0           3
C1260        3
C2710        3
C1234        2
C1267        2
C3200        2
C1256        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [56]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(bin2[bin2<10].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [57]:
bin3 = application_df.NAME.value_counts()

In [58]:
names_to_replace = list(bin3[bin3<40].index)

In [59]:
len(names_to_replace)

19504

In [60]:

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                    23982
PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
                                                                         ...
DEPARTMENT OF OREGON LADIES AUXILIARY TO THE VFW OF THE U S                 42
VETERANS OF FOREIGN WARS OF THE U S AUXILIARY DEPARTMENT OF LOUISIANA       41
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUX DEPT OF COLORADO          41
UNITED MINE WORKERS OF AMERICA INTERNATIONAL                                41
MODERN QUILT GUILD INC                                                      40
Name: NAME, Length: 65, dtype: int64

In [61]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [62]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

# Drop the "Is Successful" column from X
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [63]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [64]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=30
hidden_nodes_layer2=30
hidden_nodes_layer3=30
hidden_nodes_layer4=30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 30)                4020
_________________________________________________________________
dense_11 (Dense)             (None, 30)                930
_________________________________________________________________
dense_12 (Dense)             (None, 30)                930
_________________________________________________________________
dense_13 (Dense)             (None, 30)                930
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 31
=================================================================
Total params: 6,841
Trainable params: 6,841
Non-trainable params: 0
_________________________________________________________________

In [65]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [66]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpointsV5/", exist_ok=True)
checkpoint_path = "checkpointsV5/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(filepath=checkpoint_path, save_weights_only = True, period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [67]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

Epoch 1/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5095 - acc: 0.7481
Epoch 2/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4743 - acc: 0.7663
Epoch 3/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4701 - acc: 0.7679
Epoch 4/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4689 - acc: 0.7688
Epoch 5/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4664 - acc: 0.7708
Epoch 6/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4656 - acc: 0.7718
Epoch 7/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4641 - acc: 0.77160s - loss: 0.4641 - acc
Epoch 8/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4637 - acc: 0.7724
Epoch 9/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.4629 - acc: 0.7733
Epoch 10/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.4623 - acc: 0.7729
Epoch 11/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4618 - acc: 0.7741
Epoch 12/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4619 - acc: 0.7740- ETA: 0s - loss: 0.4630 - acc: 0.77 - 1s 43us/sample - loss: 0.4606 - acc: 0.7748
Epoch 13/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4607 - acc: 0.77460s - loss: 0.4603 - acc: 0
Epoch 14/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.4599 - acc: 0.77380s - loss: 0.4572 - acc: 0
Epoch 15/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.4591 - acc: 0.7742
Epoch 16/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4592 - acc: 0.7762
Epoch 17/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4581 - acc: 0.7748
Epoch 18/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4576 - acc: 0.7762
Epoch 19/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4574 - acc: 0.77610s - loss: 0.4585 - acc:
Epoch 20/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4572 - acc: 0.77530s - loss: 0.45
Epoch 21/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4567 - acc: 0.77640s - loss: 0.4531 -
Epoch 22/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.4560 - acc: 0.7762
Epoch 23/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4564 - acc: 0.7758
Epoch 24/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4552 - acc: 0.7787
Epoch 25/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4551 - acc: 0.7765
Epoch 26/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4547 - acc: 0.77680s - loss: 0.4539 -
Epoch 27/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4540 - acc: 0.7788
Epoch 28/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.4539 - acc: 0.77761s
Epoch 29/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4532 - acc: 0.7782
Epoch 30/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.4529 - acc: 0.77810s - loss: 0.4521 - acc:
Epoch 31/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4527 - acc: 0.7795
Epoch 32/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4524 - acc: 0.77870s - loss: 0.4518 - acc: 0.779
Epoch 33/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4520 - acc: 0.7791
Epoch 34/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4525 - acc: 0.7797
Epoch 35/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.4512 - acc: 0.7788
Epoch 36/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4514 - acc: 0.7794
Epoch 37/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4514 - acc: 0.7792
Epoch 38/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4509 - acc: 0.77961s - loss: 0.4449 - acc - ETA: 0s - loss: 0.442
Epoch 39/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4504 - acc: 0.7795
Epoch 40/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4503 - acc: 0.78080s - loss: 0.4504 - acc: 0
Epoch 41/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4507 - acc: 0.77911s - loss:
Epoch 42/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4497 - acc: 0.7792
Epoch 43/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4494 - acc: 0.78030s - loss: 0.4483 - acc: 0.78
Epoch 44/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4501 - acc: 0.7787
Epoch 45/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4502 - acc: 0.7804
Epoch 46/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4498 - acc: 0.7798
Epoch 47/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4495 - acc: 0.77950s - loss: 0.4456 - acc: 0.783 - ETA: 0s - loss: 0.4468 - acc - ETA: 0s - loss: 0.4489 - acc: 0.77
Epoch 48/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4489 - acc: 0.7802
Epoch 49/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4491 - acc: 0.7800
Epoch 50/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4489 - acc: 0.78110s - loss: 0.4489 - acc:
Epoch 51/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4489 - acc: 0.7802
Epoch 52/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4488 - acc: 0.7805
Epoch 53/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4483 - acc: 0.7815
Epoch 54/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4483 - acc: 0.7807
Epoch 55/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4482 - acc: 0.7802
Epoch 56/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.4484 - acc: 0.7806
Epoch 57/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4481 - acc: 0.7812
Epoch 58/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4485 - acc: 0.7805
Epoch 59/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4479 - acc: 0.7809
Epoch 60/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4476 - acc: 0.7804
Epoch 61/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4474 - acc: 0.7810
Epoch 62/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4476 - acc: 0.7813
Epoch 63/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4472 - acc: 0.7814
Epoch 64/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4470 - acc: 0.7810
Epoch 65/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4476 - acc: 0.78110s - loss: 0
Epoch 66/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.4473 - acc: 0.78250s - loss: 0.4462 - acc: 0.7
Epoch 67/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4467 - acc: 0.7807
Epoch 68/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4468 - acc: 0.7810
Epoch 69/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4464 - acc: 0.78120s - loss: 0.4518 - acc
Epoch 70/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4464 - acc: 0.7822
Epoch 71/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4464 - acc: 0.7809
Epoch 72/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4463 - acc: 0.7806
Epoch 73/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4465 - acc: 0.7809
Epoch 74/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4461 - acc: 0.7820
Epoch 75/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4461 - acc: 0.7808
Epoch 76/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4463 - acc: 0.78060s - loss: 0.4423 -
Epoch 77/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.4458 - acc: 0.7821
Epoch 78/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.4459 - acc: 0.7811
Epoch 79/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.4462 - acc: 0.78141s
Epoch 80/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4459 - acc: 0.7821
Epoch 81/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4461 - acc: 0.78130s - loss: 0.4518 - a
Epoch 82/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4457 - acc: 0.78150s - loss: 0.4472 - ETA: 0s - loss: 0.4461 - acc: 0.781
Epoch 83/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4453 - acc: 0.78210s - loss: 0.4517 - acc: 0.778 - ETA: 0s - loss: 0
Epoch 84/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4454 - acc: 0.7816
Epoch 85/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4453 - acc: 0.7821
Epoch 86/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.4456 - acc: 0.7818
Epoch 87/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4455 - acc: 0.7811
Epoch 88/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4453 - acc: 0.7818
Epoch 89/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4459 - acc: 0.78130s - loss: 0.4
Epoch 90/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4455 - acc: 0.7821
Epoch 91/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.4450 - acc: 0.78210s - loss
Epoch 92/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4451 - acc: 0.78170s - loss: 0.4428 - acc - ETA: 0s - loss: 0.4462 - acc: 0.7
Epoch 93/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4455 - acc: 0.7824
Epoch 94/100
25724/25724 [==============================] - 2s 59us/sample - loss: 0.4448 - acc: 0.7826
Epoch 95/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.4456 - acc: 0.7806
Epoch 96/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4450 - acc: 0.78110s - loss: 0.4443
Epoch 97/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4445 - acc: 0.7821- ETA: 0s - loss: 0.4409 - acc: 0. - 1s 46us/sample - loss: 0.4447 - acc: 0.7818
Epoch 98/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4450 - acc: 0.7820
Epoch 99/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4451 - acc: 0.7822
Epoch 100/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4444 - acc: 0.7828

In [68]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5062 - acc: 0.7624
Loss: 0.5061590645334116, Accuracy: 0.7624489665031433

In [69]:
# # Export our model to HDF5 file
nn.save('Output/Model_V5.h5')