## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.shape

(34299, 12)

In [3]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'])
application_df.shape

(34299, 11)

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
bin1 = application_df['APPLICATION_TYPE'].value_counts()
bin1

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(bin1[bin1<100].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
bin2 = application_df['CLASSIFICATION'].value_counts()
bin2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2380        1
C2561        1
C5200        1
C2170        1
C1570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
bin2_1 = bin2[bin2>1]
print(bin2_1.shape)
print('=======================================================')
print(bin2_1)

(45,)
=======================================================
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C0           3
C1260        3
C2710        3
C1234        2
C1256        2
C1246        2
C1267        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(bin2[bin2<10].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [11]:
bin3 = application_df.NAME.value_counts()

In [12]:
names_to_replace = list(bin3[bin3<40].index)

In [13]:
len(names_to_replace)

19504

In [14]:

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                    23982
PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
                                                                         ...
DEPARTMENT OF OREGON LADIES AUXILIARY TO THE VFW OF THE U S                 42
UNITED MINE WORKERS OF AMERICA INTERNATIONAL                                41
VETERANS OF FOREIGN WARS OF THE U S AUXILIARY DEPARTMENT OF LOUISIANA       41
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUX DEPT OF COLORADO          41
MODERN QUILT GUILD INC                                                      40
Name: NAME, Length: 65, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

# Drop the "Is Successful" column from X
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=30
hidden_nodes_layer2=30
hidden_nodes_layer3=30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                4020
_________________________________________________________________
dense_1 (Dense)              (None, 30)                930
_________________________________________________________________
dense_2 (Dense)              (None, 30)                930
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,911
Trainable params: 5,911
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From c:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [20]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpointsV6/", exist_ok=True)
checkpoint_path = "checkpointsV6/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(filepath=checkpoint_path, save_weights_only = True, period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

Epoch 1/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5452 - acc: 0.7257
Epoch 2/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.4851 - acc: 0.7600
Epoch 3/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.4819 - acc: 0.7592
Epoch 4/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.4798 - acc: 0.7608
Epoch 5/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.4781 - acc: 0.7633
Epoch 6/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4764 - acc: 0.7637
Epoch 7/100
25724/25724 [==============================] - 2s 76us/sample - loss: 0.4743 - acc: 0.7637
Epoch 8/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.4723 - acc: 0.7651
Epoch 9/100
25724/25724 [==============================] - 2s 79us/sample - loss: 0.4713 - acc: 0.7678
Epoch 10/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.4698 - acc: 0.7675
Epoch 11/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4682 - acc: 0.7697
Epoch 12/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4680 - acc: 0.7686
Epoch 13/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4663 - acc: 0.7699
Epoch 14/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.4667 - acc: 0.7677
Epoch 15/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.4659 - acc: 0.7706
Epoch 16/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.4647 - acc: 0.7712
Epoch 17/100
25724/25724 [==============================] - 2s 79us/sample - loss: 0.4638 - acc: 0.7694
Epoch 18/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.4636 - acc: 0.7718
Epoch 19/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4625 - acc: 0.7709
Epoch 20/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.4628 - acc: 0.7715
Epoch 21/100
25724/25724 [==============================] - 5s 188us/sample - loss: 0.4623 - acc: 0.7722
Epoch 22/100
25724/25724 [==============================] - 5s 180us/sample - loss: 0.4617 - acc: 0.7722
Epoch 23/100
25724/25724 [==============================] - 5s 202us/sample - loss: 0.4612 - acc: 0.7726
Epoch 24/100
25724/25724 [==============================] - 5s 211us/sample - loss: 0.4613 - acc: 0.7724
Epoch 25/100
25724/25724 [==============================] - 5s 196us/sample - loss: 0.4604 - acc: 0.7736
Epoch 26/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.4599 - acc: 0.7732
Epoch 27/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.4601 - acc: 0.7736
Epoch 28/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.4593 - acc: 0.7746
Epoch 29/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.4586 - acc: 0.7732s - loss: 0.4599 -
Epoch 30/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.4590 - acc: 0.7745
Epoch 31/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.4587 - acc: 0.7766
Epoch 32/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4580 - acc: 0.7748
Epoch 33/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.4580 - acc: 0.7746
Epoch 34/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4572 - acc: 0.7756
Epoch 35/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.4576 - acc: 0.7750
Epoch 36/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.4564 - acc: 0.7749
Epoch 37/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4567 - acc: 0.7735
Epoch 38/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4563 - acc: 0.7757
Epoch 39/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4565 - acc: 0.7763
Epoch 40/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4559 - acc: 0.7762
Epoch 41/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4552 - acc: 0.7766
Epoch 42/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4550 - acc: 0.7764
Epoch 43/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4551 - acc: 0.7771
Epoch 44/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4546 - acc: 0.7783
Epoch 45/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4547 - acc: 0.7772
Epoch 46/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.4543 - acc: 0.7765
Epoch 47/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4538 - acc: 0.7774
Epoch 48/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4542 - acc: 0.7772
Epoch 49/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4537 - acc: 0.7761
Epoch 50/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4539 - acc: 0.7777
Epoch 51/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.4532 - acc: 0.7766
Epoch 52/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.4527 - acc: 0.7776
Epoch 53/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4529 - acc: 0.7755
Epoch 54/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.4527 - acc: 0.7779
Epoch 55/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4526 - acc: 0.7786
Epoch 56/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4526 - acc: 0.7785
Epoch 57/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4519 - acc: 0.7783
Epoch 58/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4523 - acc: 0.77820s - loss: 0.447
Epoch 59/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4519 - acc: 0.7771
Epoch 60/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4517 - acc: 0.7773
Epoch 61/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4516 - acc: 0.7773
Epoch 62/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4512 - acc: 0.7785
Epoch 63/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4513 - acc: 0.77850s - loss: 0.4513 - acc: 0.77
Epoch 64/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4510 - acc: 0.7785
Epoch 65/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4510 - acc: 0.7778
Epoch 66/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4506 - acc: 0.7789
Epoch 67/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4505 - acc: 0.7787
Epoch 68/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4505 - acc: 0.77920s - loss: 0
Epoch 69/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4508 - acc: 0.77820s - loss: 0.45
Epoch 70/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4499 - acc: 0.7786
Epoch 71/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4499 - acc: 0.7783
Epoch 72/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4500 - acc: 0.77910s - loss: 0.4499 - acc: 0.7
Epoch 73/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4491 - acc: 0.7806
Epoch 74/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4493 - acc: 0.7806
Epoch 75/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.4494 - acc: 0.7795
Epoch 76/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4499 - acc: 0.7787
Epoch 77/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4494 - acc: 0.779 - 1s 46us/sample - loss: 0.4496 - acc: 0.7789
Epoch 78/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.4491 - acc: 0.7796
Epoch 79/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.4491 - acc: 0.7810
Epoch 80/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4490 - acc: 0.7787
Epoch 81/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4487 - acc: 0.77900s - loss: 0.4469 - acc: 0.7
Epoch 82/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.4487 - acc: 0.7797
Epoch 83/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4483 - acc: 0.7806
Epoch 84/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4483 - acc: 0.7792
Epoch 85/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.4484 - acc: 0.7807
Epoch 86/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.4479 - acc: 0.7788
Epoch 87/100
25724/25724 [==============================] - 2s 84us/sample - loss: 0.4483 - acc: 0.7794
Epoch 88/100
25724/25724 [==============================] - 2s 59us/sample - loss: 0.4484 - acc: 0.7795
Epoch 89/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.4477 - acc: 0.7794
Epoch 90/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.4480 - acc: 0.7803
Epoch 91/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.4477 - acc: 0.7814
Epoch 92/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4479 - acc: 0.7795
Epoch 93/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.4476 - acc: 0.7798
Epoch 94/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4473 - acc: 0.7809
Epoch 95/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4472 - acc: 0.7808
Epoch 96/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4473 - acc: 0.7805
Epoch 97/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4472 - acc: 0.7817
Epoch 98/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.4472 - acc: 0.7810
Epoch 99/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.4470 - acc: 0.7814
Epoch 100/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.4468 - acc: 0.7815

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.4869 - acc: 0.7562
Loss: 0.48690996141197385, Accuracy: 0.7561516165733337

In [23]:
# # Export our model to HDF5 file
nn.save('Output/Model_V6.h5')